<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/style.css">

        <script   src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.7.1/rivets.bundled.min.js"></script>
        <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
        <script   src="./js/chatbox.js"></script>


        <script type='application/javascript'>
          var username = "%(username)s";
            var websocket = '%(scheme)s://%(host)s:%(port)s/ws?username='+username;
          var display_picture = "%(display_picture)s"
            var messageJson = {"messages": %(messages)s,"username":username};

            console.log(messageJson);



      </script>


    </head>
    <body>
    <div class="col-md-12 chat-container">
        <div class="panel panel-info">
            <div class="panel-heading">
                PyConMy APAC 2017
            </div>
            <div class="panel-body chat-background" id="msgListContainer">
                <ul class="media-list" id="msgList">

                                    <li class="media" rv-each-msg="messages">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#" rv-if="msg.username | neq username" rv-click="msg.username">
                                                    <img class="media-object img-circle dp" rv-src="msg.display_picture"/>
                                                </a>
                                                <a class="pull-right" href="#" rv-if="msg.username | eq username">
                                                        <img class="media-object img-circle dp" rv-src="msg.display_picture" />
                                                </a>
                                                <!--<span class="arrow" rv-if="msg.username | neq username"></span>-->
                                                <div class="media-body chatbubble"  rv-class-current_user="msg.username | eq username">
                                                    {msg.message}
                                                    <br />
                                                   <small rv-class-text-muted="msg.username | neq username" >
                                                       <img  rv-if="msg.username | isTwitter" class="twitteruser" src="images/twitter.png">
                                                       {msg.username | sanitize} | {msg.time}
                                                       <span rv-if="username | isTwitter">
                                                           <span rv-if="msg.username | neq username">
                                                               <span rv-if="msg.tweet_id">
                                                                    | <button class="btn btn-info retweet" rv-value="msg.tweet_id" type="button">RT</button>
                                                               </span>
                                                           </span>
                                                       </span>
                                                   </small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                    </ul>
            </div>

            <div class="panel-footer">

                <div class="input-group">
                    <!--<img  rv-if="username | isTwitter" class="tweet_msg" src="images/twitter.png">-->
                    <span class="input-group-btn">
                                        <img  rv-on-click="tweet" rv-if="username | isTwitter" id="tweet" class="tweeter" src="images/twitter.png">
                                    </span>

                                    <input id="message" type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button id="send" class="btn btn-info" type="button">Send</button>
                                    </span>

                                </div>
            </div>
        </div>
    </div>
    </body>
    </html>