<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.7.1/rivets.bundled.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="./js/chatbox.js"></script>


  <script type='application/javascript'>
    var username = "%(username)s";
    var websocket = ("https:"===window.location.protocol?"wss://":"ws://")+window.location.hostname+'/ws?username='+username;
    var display_picture = "%(display_picture)s"
    var messageJson = {"messages": %(messages)s,"username":username};
  </script>
</head>

<body>
  <div class="panel-body chat-background chatroom" id="msgListContainer">
    <ul class="media-list" id="msgList">
      <li class="media" rv-each-msg="messages">
        <div class="media-body" rv-class-current_user="msg.username | eq username">
          <a class="pull-left" href="#" rv-if="msg.username | neq username" rv-click="msg.username">
            <img class="media-object img-circle dp" rv-src="msg.display_picture"/>
          </a>
          <div class="chatbubble">
            <div class="username">
              {msg.username | sanitize} 
              <img rv-if="msg.username | isTwitter" class="twitteruser" src="images/twitter.png">
            </div>
            <div class="message">{msg.message}</div>
            <div class="message-info">
              <span rv-if="username | isTwitter">
                <span rv-if="msg.username | neq username">
                  <span rv-if="msg.tweet_id">
                    <button class="btn retweet" rv-value="msg.tweet_id" type="button">RT</button>
                  </span>
                </span>
              </span>
              <span class="time">{msg.time}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="panel-footer">
    <div class="input-group">
      <span class="input-group-btn">
        <img rv-on-click="tweet" rv-if="username | isTwitter" id="tweet" class="twitter" src="images/twitter.png">
      </span>
      <span class="text">
        <textarea id="message" type="text" class="form-control"></textarea>
      </span>
      <span id="send" class="input-group-btn">
        <button class="btn" type="button">Send</button>
      </span>
     </div>
  </div>
</body>
</html>