.dp{
    height: 50px;
    width: 50px;
}

.btn-info{
    background-color: #ed7663;
    border: none;
}
.twitteruser{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.retweet{
    height: 15px;
    line-height: 0px;
    font-size: 15px;
}

.tweeter{
    height: 28px;
    width: 28px;
    margin-right: 10px;
    cursor: hand;
}
.panel-footer{
    background-color: #69a8C3;
    border:none;
    height: 9%;
}

.panel-heading{
    height: 9%;
}

.chat-container{
    height:100%;
    padding: 0;
    margin: 0;
}

.chat-background {
  background: #1fc8db; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #dfeec7 10%, #b9decc 51%, #74b4cd 75%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(187deg, #c4d29d, #ddecc5 30%, #75b7cf); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(187deg, #c4d29d, #ddecc5 30%, #75b7cf); /* For Firefox 3.6 to 15 */
  background: linear-gradient(187deg, #c4d29d, #ddecc5 30%, #75b7cf);
    height:82%;
    overflow: auto;

    font-family: Calibri;
    font-weight: 500;
}

.chatbubble{
      background: #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
    padding: 5px;
}

.current_user{
    background: #ed7663;
    color: #ffffff;
}

.arrow {
    border:solid 6px transparent;
    border-right-color:#fff;
    position:absolute;
    margin:15px 0 0 -12px;
}

hr{
    margin-top: 30px;
}